body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hederBtn.MuiButton-colorPrimary{
  background-color:  #C08B5C;
  border-radius: 2px;
}
.hederBtn.MuiButton-colorPrimary:hover{
  background-color: #795458;
}
.posterGrid .MuiTypography-root {
    color:"#23aae5",
}
.posterGridHolder{
  width: "100%";
  background-position: "center";
  background-size: "cover";
  background-repeat: "no-repeat";
  height: '100vh';
}
.detailsSection{
 margin: auto;
 background: #f0f0f08c;
}
.footerSection.css-nen11g-MuiStack-root{
  background: #453F78;
  color: #fff;
}
.image_container{
  background-color: #fff;
  color: #000;
}
.image_container{text-align: center;}
.imageCarosel{
  border: 3px solid #795458;
  border-radius: 5px;
  width:' 100%';
}
.imageCarosel img {
  width: 100%; 
  height: 100%; 
  object-fit: contain;
}
.caroselContainer{
  border: 10px solid #c1c1c1;
  margin-top: 32px;
  padding: 5px 20px;
}


/* @media (max-width: 768px) {
  .detailsSection {
    background: yellow;
  }
} */
@media (max-width: 480px) {
  .drawerDiv .MuiPaper-elevation{
    width:100%;
  }
  .detailsSection{
    padding:'10px';
  }
}
